<h3><p>"{{first_name}} your world might not feel very colorful today may we suggest doing something creative? 
    Maybe write in a journal, create an en plein air painting or go to the museum." <img src="/images/creative.png" alt="">
</p></h3>