<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OUROBORUS</title>
  {{!-- added font family --}}
  
  <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />


  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/progress.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <script src= "js/api/api.js"></script>
</head>

<body>
<main>
  <header class="display-flex justify-space-between align-center p-2">
        <div class="logo">
      <img class="logo-image" src="https://loremflickr.com/640/360" alt="placeholder image for our logo">
    </div>
    <h1>
      OUROBORUS
    </h1>
  </header>
    
  <div class="outer-menu">
    <input class="checkbox-toggle" type="checkbox" />
    <div class="hamburger">
      <div></div>
    </div>
    <div class="menu">
      <div>
        <div>
          <ul>
              <li><a href="/">Home</a></li>
              {{#if logged_in}}
              <li><a href="/dashboard">Dashboard</a></li>
              <li> <a href="/account-settings">Account Settings</a></li>
              <li class="navlink"><button id="logout" class="btn-no-style">Logout</button></li>
              {{else}}
              <li><a href="/login">Login</a></li>
              {{/if}}
            </ul>
        </div>
      </div>
    </div>
  </div>


  <main class="container container-fluid mt-5">
    <div class='content'>
         {{{ body }}}
    </div>

  </main>
  
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  </main>
</body>

</html>
