<h2>Account Settings Page</h2>
<p>Will need a form here to collect user information with a submit button</p>

<h2>Account Settings</h2>
<form class="form settings-form">
  <div class="form-group">
    <label for="bio">Bio:</label>
    <input class="form-input" type="text" id="bio-settings" />
  </div>
  <div class="form-group">
    <label for="goals">Goals:</label>
    <input class="form-input" type="text" id="goals-settings" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>

<div class="progress">
  <div class="outer">
    <div class="inner">
      <div id="number">
      </div>
    </div>
  </div>
  <!-- this will be customized later! -->
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
         <defs>
            <linearGradient id="GradientColor">
               <stop offset="0%" stop-color="#c3446f" />
               <stop offset="50%" stop-color="#95965e" />
               <stop offset="100%" stop-color="#5e967b" />
            </linearGradient>
         </defs>
         <circle cx="80" cy="80" r="70" stroke-linecap="round" />
 </svg>
</div>


<script src = "/js/progress-bar.js"></script>
<script src="/js/account_details.js"></script>