<h2>Account Settings Page</h2>

<form class="form settings-form">
  <div class="form-group">
    <label for="bio">Bio:</label>
    <input class="form-input" type="text" id="bio-settings" value="{{bio}}"/>
  </div>
  <div class="form-group">
    <label for="goals">Goals:</label>
  <input class="form-input" type="text" id="goals-settings" value="{{goals}}"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>

<script src="/js/account_settings.js"></script>