<h2>Account Settings Page</h2>
<p>Will need a form here to collect user information with a submit button</p>

<h2>Account Settings</h2>
<form class="form settings-form">
  <div class="form-group">
    <label for="bio">Bio:</label>
    <input class="form-input" type="text" id="bio-settings" />
  </div>
  <div class="form-group">
    <label for="goals">Goals:</label>
    <input class="form-input" type="text" id="goals-settings" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>

<script src="/js/account_details.js"></script>