<h2>Welcome, {{first_name}}</h2>
<p>account information will be sent to this page to be displayed</p>
<a href="/daily_log">
<button>Daily Log</button>
</a>
<a href="/account_details">
<button>Account Settings</button>
</a>