<!-- Need to link to Create Account Page --> 

<h2 class ="z2"> <span>☹</span> Welcome <span>☺</span><br> your transformation begins here</h2>

{{#unless logged_in}}
<div>
  <form class="form login-form z2">
    <div class="form-group">
      <label for="email-login">email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group z2">
      <label for="password-login">password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group z2">
      <button class="btn btn-primary" type="submit">login</button>
    </div>
  </form>
  <a href="/account-creation">
    <button class="btn btn-secondary z2">Create Account</button>
  </a> 
</div>

<script src="/js/login.js"></script>
{{/unless}}
  <div class="activity-feed z2" >
    <table>
      <th>Date</th>
      <th>Username</th>
      <th>Activity Completed</th>
      
    {{#each activities as |activity|}}
      <tr>
        <td>{{activity.date}}</td>
        <td>{{activity.user.display_name}}</td>
        <td>{{activity.activity.name}}</td>
        <td class='no-border'><button class="btn ">Give Props!</button></td>
      </tr>
    {{/each}}
    </table>
  </div>
</div>

<div class="snake z0"> {{>snakebg}} </div>



