<title>Document</title>
</head>
<body>
  
  <form id="imageForm">
    <input type="file" id="fileUpload" />
    <input id="imageInput" type="file" accept="image/*">
    <button type="submit">Upload</button>
  </form>

  <script src="upload.js"></script>
