@font-face {
  font-family: 'gallery_modernregular';
  src: url('gallerymodern-webfont.woff2') format('woff2'),
    url('gallerymodern-webfont.woff') format('woff'),
    url('gallerymodern-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=PT+Sans&display=swap');

:root {
  --primary: #5b49a8;
  --secondary: #329476;
  --tertiary: #5e877f;
  --quatrinary: #0093ce;
  --light: #e3e4e3;
  --dark: #181757;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: 'gallery_modernregular';
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  color: var(--dark);
  background: url('/images/bpbg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.snake {
  opacity: 50%;
}

main {
  display: block;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

/* main {
  flex-wrap: wrap;
  flex-grow: 1;
} */

.z0 {
  z-index: -1;
}

.z2 {
  z-index: 1;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

p {
  font-size: 3vh;
}

header {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  /* height: 200px; */
  color: var(--light);
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'gallery_modernregular';
  font-weight: normal;
  font-style: normal;
  font-size: 10vh;
  color: var(--dark);
}

h2 {
  font-size: 6vh;
}

.logo-image {
  border-radius: 50%;
  height: 150px;
  width: 250px;
  margin-right: 15px;
}

.btn-logout {
  font-family: 'gallery_modernregular';
  color: var(--dark);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3vh;
  padding: 3vw;
  /* border-radius: 50px;
  border-radius: 50px;
  border-radius: 44px; */
  border-radius: 44px;
  background: linear-gradient(145deg, #cecee6, #f5ffff);
  box-shadow: 28px 28px 56px #ccdae3, -28px -28px 56px #feffff;
}

.card {
  padding: 2vw;
  margin-bottom: 2vh;
  border-radius: 44px;
  background: linear-gradient(145deg, #f1f1ff, #9e97b8);
  box-shadow: 28px 28px 56px #f5ffff, -28px -28px 56px #feffff;
}

.btn {
  font-size: 3vh;
}

.btn-secondary {
  margin-top: 3vh;
}

.container {
  display: flex;
  /* flex-flow: column wrap; */
  align-items: center;
}

.dasboard-content {
  margin-top: 3vh;
}

.progress {
  display: flex;
  flex-wrap: wrap;
  margin: 2vw;
  justify-content: center;
  align-items: center;
}

.activity-img {
  margin: 2vw;
  width: 20vw;
  max-width: 200px;
}

.activity-log {
  /* width: 500px; */
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* margin-right: 5vw; */
  /* justify-content: space-around; */
}

.daily-log-form label {
  /* width: 10vw; */
  font-size: 3vh;
}

.activity-input {
  /* font-size: large; */
  height: 3vh;
  align-self: center;
  /* position: fixed;
  right: 0; */
}

.create-side {
  padding-top: 30px;
  align-items: center;
}

.logs {
  /* align-items: center; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.log-group {
  margin: 4vw;
}

.history-content {
  /* width: 30vw; */
  display: block;
  border: 2px solid var(--dark);
  border-radius: 20px;
  padding: 10px;
}

td {
  border-right: 1px solid var(--dark);
  padding: 7px;
}

.no-border {
  border: none;
}
