@font-face {
  font-family: 'gallery_modernregular';
  src: url('gallerymodern-webfont.woff2') format('woff2'),
    url('gallerymodern-webfont.woff') format('woff'),
    url('gallerymodern-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
/* changed up some of the colors */
:root {
  --primary: #5b49a8;
  --secondary: #329476;
  --tertiary: #5e877f;
  --quatrinary: #0093ce;
  --light: #e3e4e3;
  --dark: #181757;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

/* added font family
changed background */
body {
  font-family: 'gallery_modernregular';
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;

  /* background-color: var(--quatrinary); */
  color: var(--dark);
  background: url('/images/bpbg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-image: linear-gradient(
    to left bottom,
    rgb(0, 8, 121),
    rgb(21, 247, 255)
  ); */
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  height: 200px;
  /* text-align: center; */
  /* background: var(--primary); */
  color: var(--light);
}

h1 {
  font-family: 'gallery_modernregular';
  font-weight: normal;
  font-style: normal;

  font-size: 6vw;
  color: var(--dark);
  text-shadow: -5px 5px 16px #4bc0e4;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  justify-content: flex-end;
  color: white;
  /* background-color: var(--secondary); */
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.logo-image {
  border-radius: 50%;
  height: 150px;
  width: 250px;
  /* box-shadow: -18px 18px 36px #180b40, 18px -18px 36px #5629e8; */
}

.gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.content {
  text-align: center;
  margin-top: 3vh;
  width: 75vw;
  padding: 3vw;
  border-radius: 50px;
  border-radius: 50px;
  border-radius: 44px;
  border-radius: 44px;
  background: linear-gradient(145deg, #cedde6, #f5ffff);
  box-shadow: 28px 28px 56px #ccdae3, -28px -28px 56px #feffff;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  /* align-content: flex-start; */
  align-items: center;
}

.progress {
  display: flex;
  flex-wrap: wrap;
  margin: 2vw;
}
.activity-img {
  margin: 2vw;
  width: 25vw;
}
